// @Author: GVEDAS
// @Date:   2017-12-23T17:25:18+05:30
// @Email:  gvedas@gvedas.com
// @Last modified by:   GVEDAS
// @Last modified time: 2017-12-28T10:04:28+05:30
@import "config";
@import "grid";
@import "navbar";
@import "buttons";

body {
  background-color: $body-background-color;
  color: $body-font-color;
}
input {
  color: #000;
}
